
/*********************************************************/
/* Web del Plantas Medicinales   Estilo de landing page  */
/* CSS de Phytotherapy                                   */
/* Autora: Ana Capilla Pérez                             */
/* versión 1.o                                           */
/* ***************************************************** */
*{box-sizing: border-box;
    margin: 0;
    padding: 0;
}  
body{ 
    font-family: "Hind", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    /* text-transform: uppercase; */
    letter-spacing: 2px;
    }

a:link, a:visited, a:active {
    text-decoration:none;
}

a {color:#0a0909;}         /* Unvisited link  */
a:visited {color:#0a0909;} /* Visited link    */
a:hover {color:#948f94;}   /* Mouse over link */
a:active {color:#948f94;}


#fondo{
    background-color: rgb(222, 220, 195);
    padding: 0%;
    padding-bottom: 30px;  
}

/* #wrapper{
    background-color: rgb(222, 220, 195);  
    width: 100%;
    padding: 7px;
    margin: 0px;
    font-family: "Hind", Sans-serif;
    font-size: 7px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
}  */

#wrapper{
    background-color: rgb(222, 220, 195);  
    width: 100%;
    padding: 7px;
    margin: 0px;
    font-family: "Hind", Sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: white;
    display: flex;
    justify-content: space-around;
    background-color: rgb(114, 136, 56);
    position: relative;
}


/****************MENU HAMBURGUESA***************+*****/

.main_title{
    position:absolute;
    left: 0;
    top: 0;
    padding-top: 20px;
    padding-left: 30px;
}

nav{
    width: 100%;
}

.topnav {
    background-color: rgb(114, 136, 56);
    overflow: hidden;
}

  /* Style the links inside the navigation bar */
.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

  /* Change the color of links on hover */
.topnav a:hover {
    background-color: #dddddd;
    color: black;
}

  /* Add an active class to highlight the current page */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

  /* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
} 

@media screen and (max-width: 800px) {
    .topnav a {
        display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }

  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 800px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

  } 

/* ******TITULO******** */
h1{
    text-align: center;
}
/* *******************FOTO HERO SECTION**************************** */

#imagen_inicio{
    text-align: center;
    border-radius: 10%;
}
#imagen_inicio img{
    max-width: 100%;
    height: auto;
}

section{
    padding: 10px 0;
}              

#texto_inicio{
    /*padding-left: 10%;
    padding-right: 10%;*/
    padding: 1em;
    font-family: "Hind", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    text-decoration: none;
    text-align: center;
    color: rgb(79, 83, 59);
}

.grid4{
    /* display: grid;
    grid-template-columns: 50% 50%;
    text-align: center; */

    display: flex;
    flex-wrap: wrap;
    /* gap: 5%; */
    justify-content: center;
}

.grid4 div{
    width: 45%;
}

/* ************************* Slider ******************* */

.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
    -webkit-box-shadow: 5px 5px 24px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 24px -7px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 24px -7px rgba(0,0,0,0.75);
    max-width: 1000px;
    position: relative;
    margin: 2em auto 0 auto;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}


/* **********TEXTO INDEX**********++ */
.col4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
    text-align: center;
    font-family: "Hind", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    text-decoration: none;
    color: rgb(98, 93, 71);
}
.col4 img{
    width: 100%;
}

.col4 p {
    padding: 0 3em;
}

.fitoterapia{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

}
/* ***************COLOR DE FONDO DEBAJO DE HERO SECTION**********************+ */
#inicio_scroll{
    background-color: rgb(222, 220, 195);
}

/*****************  CONTACTO  *****************/
.grid2{
    display: grid;
    grid-template-columns:50% 50%;
}
/* .grid4{
    display: grid;
    grid-template-columns:50% 50% 50% 50%;
} */
.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}
/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/*****************  FOOTER  *****************/
footer{
    background-color: rgb(197, 189, 161);
    /* padding: 5%; */
    margin-top: 5px;
}


#contacto{
    display: grid;
    grid-template-columns: auto auto;

}

.menu_footer{
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 15px;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
    padding-bottom: 20px;
}
.menu_footer li:hover{
    transform: scale(1.1);
}

.derechos{
    text-align: center;
    font-size: 12px;
    padding: 20px;
    color: #9e6a6a;
}

/* ********************************************************************++ */
.iconos_footer_redes{
    display:flex;
    list-style:none;
    justify-content: center;
}

.iconos_footer_redes li{
    margin:10px;
    height:45px;
    width:45px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:50%;
    cursor:pointer;
    position:relative;
}

.iconos_footer_redes li i{
    transition:all 0.3s linear;
}


.iconos_footer_redes li:hover i{
    color:#fff;
    font-size:17px;
}

.iconos_footer_redes li:hover::after{
    opacity:1;
    transform:scale(0.8);
   
}

.iconos_footer_redes li::after{
    content:"";
    position:absolute;
    height:inherit;
    width:inherit;
    border-radius:50%;
    opacity:0;
    z-index:-1;
    transition:all 0.3s linear;
    
}

.iconos_footer_redes li:nth-child(1){
    
    border:2px solid #3b5998;
    color:#3b5998;
}

.iconos_footer_redes li:nth-child(1)::after{
    
    background-color:#3b5998;
     color:#3b5998;
}


.iconos_footer_redes li:nth-child(2){
    
    border:2px solid #00aced;
    color:#00aced;
}

.iconos_footer_redes li:nth-child(2)::after{
    
    background-color:#00aced;
     color:#00aced;
}


.iconos_footer_redes li:nth-child(3){
    
    border:2px solid #007bb6;
    color:#007bb6;
}

.iconos_footer_redes li:nth-child(3)::after{
    
    background-color:#007bb6;
     color:#007bb6;
}

.iconos_footer_redes li:nth-child(4){
    
    border:2px solid #dd4b39;
    color:#dd4b39;
}

.iconos_footer_redes li:nth-child(4)::after{
    
    background-color:#dd4b39;
     color:#dd4b39;
}
/* ********************************************************************++ */
html{scroll-behavior: smooth;
}
#menu{
    display:none;
  }
  label{
    display: none;
}
.hambuer{
    display: none;
}    

/* ********************PAGINA FITOTERAPIA****************************** */
#Texto_fitoterapia{
        text-align: center;
        margin: 5.2em;
        color: #a2ab90;
}
#grids_fitoterapia{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: 0 1em;
    /* gap: 5px; */
}
#grids_fitoterapia > div{
    width: 100%;
    text-align: center;
    margin: 10% 0 10% 0;
    color: #a2ab90;
}
#grids_fitoterapia img{
    width: 90%;
}

#col_fitoterapia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

#col_fitoterapia p {
    padding: 0 2em;
}

/************************* MEDIA QUERIS ***************************/
@media screen and (max-width:900px) {
    #wrapper{
        width: 100%;
        margin: 0px;
    }
    #cabecera{
        justify-content: flex-end;
        gap: 20px;
        font-size: 15px;
    }
    #cabecera li{
        text-align: center;
        padding: 0 10px;
        font-size: 15px;
    }
    #informacion{
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: row;
        font-size: 2em;
    }
    section{
        padding: 10px 0;
    }               /*em todas las secciones debe correr el aire*/
    #texto_inicio{
        padding-left: 10%;
        padding-right: 10%;
        font-family: "Hind", Sans-serif;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 2px;
        text-decoration: none;
        text-align: center;
    }
    .grid4{
        flex-direction: column;
        gap: 15px;
    }

    .gap{
        padding-bottom: 25px;
    }

    .grid4 div{
        width: 100%;
        font-size: 12px;
        line-height: 18px;
    }

    .grid4 div h3{
        padding-bottom: 15px;
    }

    #inicio_scroll{
        font-size: 15px;
    }

}

/* MENU HAMBURGUESA RESPONSIVE */
@media (max-width: 900px) {

    a:link, a:visited, a:active {
        text-decoration: none;
    }
    
    
    #cabecera{
        display:none;
    }
    ul{
        display: none;
    }
    label{
        display: none;
    }
    #menu{
        display:none;
      }
    input:checked  ~ ul{
            display:block;
            position: fixed;
          }
    label {
      box-sizing: border-box;
      display: inline-block;
      border: 1px solid black;
      border-radius: 5px;
      width: 30px;
      height: 30px;
      line-height: 30px;
      font-weight: bold;
      text-align: center;
      user-select: none;
    }
    
    /* Estilo del boton cuando se pasa el mouse por encima*/
    label:hover{
      background: white;
    }
    
    /* Estilo del boton cuando el menú está expandido*/
    input:checked ~ label {
      background: white; 
    }
    
    ul{
      margin-top:0;
      padding: 0;
      width: 100%;    
    }

    .menu_footer{
        font-size: 12px;
        text-decoration: none;
        list-style: none;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 7px;
        align-items: flex-start;
    }
    
    
    li {
      display: block;
      margin: 0;
      padding: 10px;
      list-style: none;
    }
    
    /*Estilo cuando el mouse pasa encima de cada link del menu*/
    li:hover {
      filter: brightness(110%);
    }
     /* New Responsive classes  */
     .title_phytoterapy{
        order: 1;
    }

    .img_phytoterapy{
        order: 2;
    }

    .title_suplementacion{
        order: 3;
    }

    .img_suplementacion{
        order: 4;
    }

    .title_aceites{
        order: 5;
    }

    .img_aceites{
        order: 6;
    }


    .iconos_footer_redes {
        display: block
    }

    .derechos{
        font-size: 9px;
        padding: 10px;
        line-height: 14px;
        font-weight: 800;
    }

    #grids_fitoterapia {
        grid-template-columns: 100%;
    }
}
@media (max-width:700px) {
    .iconos_footer_redes {
        display: block
    }
}